:root {
    --primary-color: #7d51ce;
    --secondary-color: #5f3a85;
    --bg-color: #e9e7ef;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 200ms;

}
body{
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 14px;



}
.darkerText {
    color: var(--secondary-color)
}

header,
 main, 
 footer {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;

}

nav{
    color: var(--secondary-color);
    display: flex;
    gap: 32px;    
}

nav a {
    cursor: pointer;
}

nav a:hover{
    opacity: 0.7;
}

main, .nameContainer{
    display: flex;
    flex-direction: column;
}

main {
    gap: 64px;
}

section {
    gap: 32px;
}

.nameContainer{
    gap: 7px;
}